<%- layout('layout') %>
<form action="/shop/add" method="post">
    <input type="text" name="name" placeholder="item name">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="image" placeholder="img link">
    <input type="text" name="description" placeholder="description">
    <button type="submit">submit</button>
</form>