<%- layout('layout') %>

<div class="gulabiContainer w-[100vw] h-[100vh] bg-periwinkle flex flex-col items-center justify-center z-[-20]">
    <div class="relative w-fit">
        <h1 class="danger danger-1 relative font-extrabold z-20">NERIA</h1>
        <h1 class="absolute danger top-[-10vw] danger-2 font-extrabold">NERIA</h1>
        <h1 class="absolute top-[-5vw] danger danger-3 font-extrabold">NERIA</h1>
        <h1 class="absolute bottom-[-5vw] danger danger-4 font-extrabold">NERIA</h1>
        <h1 class="absolute bottom-[-10vw] danger danger-5 font-extrabold">NERIA</h1>
    </div>
</div>

<style>
    .danger {
        font-family: Raleway;
        font-size: 14.167vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 0;
    }
    .danger-1 {
        background: linear-gradient(96deg, #11005E 2.62%, #CACAF4 235.63%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 20 !important;
    }
    .danger-2 {
        background: linear-gradient(180deg, #B7B7F0 16.97%, #CACAF4 46.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10 !important;
    }
    .danger-3 {
        background: linear-gradient(180deg, #9191E8 18.92%, #CACAF4 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10 !important;
    }
    .danger-4 {
        background: linear-gradient(0deg, #9191E8 26.88%, #CACAF4 46.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10 !important;
    }
    .danger-5 {
        background: linear-gradient(0deg, #B7B7F0 23.59%, #CACAF4 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 0 !important;
    }
    .nav {
        background-color: #CACAF4 !important;
    }
</style>