<%- layout('layout') %>
<div class="w-[100vw] min-h-[100vh] flex flex-col p-[4vh]">
  <div class="w-[100vw] flex flex-col items-center justify-center gap-[2vh]">
    <h1 class="text-3xl font-extrabold text-accent-dark text-center">
      Join Our Team
    </h1>
    <p class="text-sm text-center text-[rgba(0,0,0,0.5)] w-[50vw]">
      To join our team you need to choose your profession below and then your
      application will be sent for verification. <b>*Note:</b> For development
      purposes, after choosing the role, you will be instantly accepted into the team.
    </p>
  </div>
  <% if (user.role === "researcher" || user.role === "diver") { %>
    <div class="w-[100vw] h-[80vh] flex flex-col items-center justify-center">
      <h1 class="text-3xl text-accent-dark font-bold">You already are a <%= user.role %></h1>
      <p class="mt-3 font-semibold cursor-pointer" onclick="window.location.href='/'">Go home</p>
    </div>
  <% } else { %>
  <div class="w-[100vw] flex flex-row items-center justify-center">
    <form
      action="/join"
      class="flex flex-col items-center justify-center w-[50vw] h-[100%] gap-4"
      method="post"
    >
      <p class="text-start font-semibold text-accent-dark">Select your role</p>
      <div class="flex flex-row w-[20vw] h-[10vh]">
        <div
          id="researcher"
          onclick="setResearcher()"
          class="w-[50%] flex items-center justify-center bg-accent-light border-accent-light border-r-0 cursor-pointer"
        >
          Researcher
        </div>
        <div
          id="diver"
          onclick="setDiver()"
          class="w-[50%] flex items-center justify-center bg-transparent border-2 border-accent-light border-l-0 cursor-pointer"
        >
          Diver
        </div>
      </div>
      <input type="text" name="role" value="researcher" id="role" hidden />
      <button
        class="flex mt-[2vh] flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] border-none w-[7vw] text-[#fff] bg-accent-dark"
        type="submit"
      >
        <p>Submit</p>
      </button>
    </form>
    <div class="w-[50vw] h-[100%]">
      <img src="/illus_login.png" class="w-[40vw]" alt="" />
    </div>
  </div>
  <% } %>
</div>

<script>
  function setResearcher() {
    const researcher = document.getElementById("researcher");
    const diver = document.getElementById("diver");
    const role = document.getElementById("role");
    researcher.classList.add("bg-accent-light");
    researcher.classList.remove("bg-transparent");
    diver.classList.remove("bg-accent-light");
    researcher.classList.remove("border-2");
    diver.classList.add("border-2");
    role.value = "researcher";
    console.log(role.value);
  }
  function setDiver() {
    const researcher = document.getElementById("researcher");
    const diver = document.getElementById("diver");
    const role = document.getElementById("role");
    diver.classList.add("bg-accent-light");
    diver.classList.remove("bg-transparent");
    researcher.classList.remove("bg-accent-light");
    diver.classList.remove("border-2");
    researcher.classList.add("border-2");
    role.value = "diver";
    console.log(role.value);
  }
</script>
