<%- layout('layout') %>
<div class="w-[100vw] min-h-[100vh] flex flex-row items-center justify-center gap-[15vw]">
    <form action="/login" method="post" class="left flex flex-col justify-center gap-5">
        <h1 class="text-5xl font-extrabold text-accent-dark">Login</h1>
        <input name="email" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="johndoe@email.com" type="email">
        <input name="password" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="abc@012" type="password">
        <% if (messages.error) { %>
            <p class="text-red-500 font-semibold break-words w-[20vw]"><%= messages.error %></p>
        <% } %>
        <button onmouseover="handleAnimation()" onmouseout="handleOutAnimation()" class="flex flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] w-[60%] border-none text-[#fff] bg-accent-dark" type="submit">
            <p>Submit</p>
            <div id="line" class="w-0 h-[2px] bg-[#fff]"></div>
        </button>
        <p>Don't have an account? <a href="/register" class="text-accent-light">Register</a></p>
        
    </form>
    <img src="/illus_login.png" class="w-[40vw]" alt="">
</div>

<script>
    function handleAnimation() {
        const line = document.getElementById('line');
        line.style.transition = 'width 0.3s ease-in-out';
        line.style.width = '1.5vw';
    }
    function handleOutAnimation() {
        const line = document.getElementById('line');
        line.style.transition = 'width 0.3s ease-in-out';
        line.style.width = '0';
    }
</script>