<%- layout('layout') %>
<div class="container w-[100vw] min-h-[100vh] flex flex-row items-center justify-center gap-[15vw]">
    <form action="/register" method="post" class="left flex flex-col justify-center gap-5">
        <h1 class="text-5xl font-extrabold text-accent-dark">Register</h1>
        <input name="fname" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="John" type="text">
        <input name="lname" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="Doe" type="text">
        <input name="email" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="johndoe@email.com" type="email">
        <input name="password" class="w-[20vw] h-[7vh] px-[1vw] py-[2vh] border-2 border-accent-dark bg-transparent outline-none" placeholder="abc@012" type="password">
        <% if (error) { %>
            <p class="text-red-500 font-semibold w-[20vw] break-before-auto"><%= error %></p>
        <% } %>
        <div class="flex flex-row w-[100%] h-[10vh]">
            <div id="researcher" onclick="setResearcher()" class="w-[50%] flex items-center justify-center bg-accent-light border-accent-light border-r-0">Researcher</div>
            <div id="diver" onclick="setDiver()" class="w-[50%] flex items-center justify-center bg-transparent border-2 border-accent-light border-l-0">Diver</div>
        </div>
        <input type="text" name="role" value="researcher" id="role" hidden>
        <button onmouseover="handleAnimation()" onmouseout="handleOutAnimation()" class="flex flex-row items-center justify-center gap-2 px-[1vw] py-[2vh] w-[60%] border-none text-[#fff] bg-accent-dark" type="submit">
            <p>Submit</p>
            <div id="line" class="w-0 h-[2px] bg-[#fff]"></div>
        </button>
        <p>Already have an account? <a href="/login" class="text-accent-light">Login</a></p>
    </form>
    <img src="/illus_login.png" class="w-[40vw]" alt="">
</div>

<script>
    function handleAnimation() {
        const line = document.getElementById('line');
        line.style.transition = 'width 0.3s ease-in-out';
        line.style.width = '1.5vw';
    }
    function handleOutAnimation() {
        const line = document.getElementById('line');
        line.style.transition = 'width 0.3s ease-in-out';
        line.style.width = '0';
    }
    function setResearcher() {
        const researcher = document.getElementById('researcher');
        const diver = document.getElementById('diver');
        const role = document.getElementById('role');
        researcher.classList.add('bg-accent-light');
        researcher.classList.remove('bg-transparent')
        diver.classList.remove('bg-accent-light');
        researcher.classList.remove('border-2');
        diver.classList.add('border-2');
        role.value = 'researcher';
        console.log(role.value)
    }
    function setDiver() {
        const researcher = document.getElementById('researcher');
        const diver = document.getElementById('diver');
        const role = document.getElementById('role');
        diver.classList.add('bg-accent-light');
        diver.classList.remove('bg-transparent')
        researcher.classList.remove('bg-accent-light');
        diver.classList.remove('border-2');
        researcher.classList.add('border-2');
        role.value = 'diver';
        console.log(role.value)
    }
</script>