<%- layout('layout') %>

<h1 class="text-center text-6xl font-extrabold mt-[4vh] mb-[4vh]">Marketplace</h1>

<div class="objects w-[100%] flex flex-row flex-wrap justify-center items-center gap-[4vw] mr-[10%]">    
    <div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div>
    <div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div>
    <div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div>
    <div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div>
    <div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div><div class="object w-1/5">
        <div class="bg-indigo-300 p-6 rounded-xl flex flex-col justify-center items-center">
          <img class="h-[25vh] mb-6" src="https://cdn-icons-png.flaticon.com/512/263/263399.png" alt="content">
          <h2 class="text-5xl text-[#fff] font-bold mb-1">Jewel</h2>
          <p class="text-[#fff] text-2xl">Price : $400</p>
          <button type="submit" class="bg-indigo-500 p-[1vw] w-[100%] mt-[2vh] text-2xl rounded-3xl">Buy Now</button>
        </div>
    </div>
</div>